@use "../../style";

.leftBar {
  @include style.themify(style.$themes) {
    flex: 2;
    position: sticky;
    font-family: monospace;
    background-color: style.themed("leftbar");
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    color: style.themed("textColor");

    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      padding: 25px;

      hr {
        margin: 20px 0px;
        border: none;
        height: 1px;
        background-color: gray;
      }

      .menu {

        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          font-size: 12px
        }

        .user {
          display: flex;
          align-items: center;
          gap: 20px;

          img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-size: 19px;
            font-weight: 700;
          }

        }

        .item {
          display: flex;
          align-items: center;
          gap: 20px;

          img {
            width: 40px;
            filter: drop-shadow(2px 4px 2px style.themed("iconBlur"));
          }

          span {
            font-size: 19px;
            font-weight: 700;
          }
        }
      }
    }
  }
}