$themes: (
  light:(
    textColor: #000,
    bg: #fff,
    logo: #000,
    nav: #F8F32B,
    leftbar: #F8DC25,
    bgSoft: #f6f3f3,
    textColorSoft: #555,
    border: #000,
    iconBlur: rgb(0 0 0 / 0.4),
  ),
  dark:(
    textColor: #F8DC25,
    bg: #222,
    logo: #F8F32B,
    nav: #111,
    leftbar: #000,
    bgSoft: #333,
    textColorSoft: lightgray,
    border: #F8DC25,
    iconBlur: #F8F32B,
    // iconBlur: rgba(129, 128, 128, 0.6),
  )
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  } 
}

@function themed($key) {
  @return map-get($theme-map, $key);
}